In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("/home/kali/Desktop/crop_sucess/test.csv")

In [3]:
df2=pd.read_csv("/home/kali/Desktop/crop_sucess/train.csv")

In [4]:
df3=pd.concat([df1,df2])

In [5]:
df3

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000002,188,1,1,1,0,NaN,0,2,NaN
1,F00000007,410,1,1,1,0,0.0,0,2,NaN
2,F00000011,626,1,0,1,0,0.0,0,2,NaN
3,F00000013,731,1,0,1,0,0.0,0,2,NaN
4,F00000014,789,0,0,1,0,0.0,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...
88853,F00155935,3337,1,0,2,10,12.0,44,3,0.0
88854,F00155938,3516,1,0,2,10,20.0,38,1,0.0
88855,F00155939,3516,1,0,2,15,40.0,8,2,0.0
88856,F00155942,3702,1,0,2,10,25.0,18,3,0.0
88857,F00155945,3895,1,0,2,20,37.0,7,3,0.0

In [6]:
df4=pd.read_csv('/home/kali/Desktop/crop_sucess/sample_submission.csv')

In [7]:
df=pd.merge(df3,df4, how='outer')

In [8]:
df

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000002,188.0,1.0,1.0,1.0,0.0,NaN,0.0,2.0,NaN
1,F00000007,410.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,NaN
2,F00000011,626.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,NaN
3,F00000013,731.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,NaN
4,F00000014,789.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
207473,F00155901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
207474,F00155912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
207475,F00155930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
207476,F00155933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
207477,F00155941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [9]:
df=df.dropna()

In [10]:
df

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
59310,F00000001,188.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
59311,F00000003,209.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
59312,F00000004,257.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
59313,F00000005,257.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0
59314,F00000006,342.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...
148163,F00155935,3337.0,1.0,0.0,2.0,10.0,12.0,44.0,3.0,0.0
148164,F00155938,3516.0,1.0,0.0,2.0,10.0,20.0,38.0,1.0,0.0
148165,F00155939,3516.0,1.0,0.0,2.0,15.0,40.0,8.0,2.0,0.0
148166,F00155942,3702.0,1.0,0.0,2.0,10.0,25.0,18.0,3.0,0.0
148167,F00155945,3895.0,1.0,0.0,2.0,20.0,37.0,7.0,3.0,0.0

In [11]:
df.isna().sum()

ID                         0
Estimated_Insects_Count    0
Crop_Type                  0
Soil_Type                  0
Pesticide_Use_Category     0
Number_Doses_Week          0
Number_Weeks_Used          0
Number_Weeks_Quit          0
Season                     0
Crop_Damage                0
dtype: int64

In [12]:
df=pd.concat([df[df.Crop_Type==1],df[df.Crop_Type==0]])

In [13]:
df

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
59310,F00000001,188.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
59311,F00000003,209.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
59312,F00000004,257.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
59313,F00000005,257.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0
59314,F00000006,342.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...
147801,F00155263,3895.0,0.0,1.0,2.0,20.0,18.0,31.0,3.0,1.0
147803,F00155265,3896.0,0.0,1.0,2.0,60.0,48.0,10.0,1.0,2.0
147804,F00155266,4096.0,0.0,1.0,2.0,10.0,16.0,45.0,1.0,0.0
147805,F00155267,4096.0,0.0,1.0,2.0,20.0,31.0,25.0,2.0,0.0
147806,F00155268,4096.0,0.0,1.0,2.0,60.0,30.0,34.0,2.0,1.0

In [14]:
df.to_csv('data.csv')