In [52]:
import pandas as pd
import numpy as np

In [90]:
df1=pd.read_csv('/home/kali/Desktop/crop_sucess/data.csv')
df2=pd.read_csv('/home/kali/Desktop/crop_sucess/Crop_recommendation.csv')

In [54]:
# from sklearn.preprocessing import LabelEncoder
# enc=LabelEncoder()

# df2['label']=enc.fit_transform(df2['label'])

# df2['label'].unique()

In [55]:
# df=pd.read_csv('/home/kali/Desktop/crop_sucess/Crop_recommendation.csv')

In [56]:
df2['label'].unique()

array(['rice', 'cotton'], dtype=object)

In [57]:
l=[]
for i in range(len(df2)):
    try:
        if df2['label'][i]=='rice':
            l.append(0)
        elif df2['label'][i]=='cotton':
            l.append(1)
        else:
            l.append(np.nan)
            
    except:
        pass

In [58]:
df2['crop']=l
df2['crop'].unique()

array([0, 1])

In [59]:
df2.shape

(200, 11)

In [60]:
df2=df2.dropna()

df2.shape

(200, 11)

In [61]:
df2.head(5)

,Unnamed: 0.1,Unnamed: 0,N,P,K,temperature,humidity,ph,rainfall,label,crop
0,0,0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,0
1,1,1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,0
2,2,2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,0
3,3,3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,0
4,4,4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,0

In [66]:
df2.drop(['Unnamed: 0.1','Unnamed: 0'],axis=1,inplace=True)

In [67]:
df2

       N   P   K  temperature   humidity        ph    rainfall   label  crop
0     90  42  43    20.879744  82.002744  6.502985  202.935536    rice     0
1     85  58  41    21.770462  80.319644  7.038096  226.655537    rice     0
2     60  55  44    23.004459  82.320763  7.840207  263.964248    rice     0
3     74  35  40    26.491096  80.158363  6.980401  242.864034    rice     0
4     78  42  42    20.130175  81.604873  7.628473  262.717340    rice     0
..   ...  ..  ..          ...        ...       ...         ...     ...   ...
195  113  38  20    22.107190  78.583201  6.364730   74.941366  cotton     1
196  102  53  21    23.038140  76.110215  6.913679   91.496975  cotton     1
197  110  39  18    24.547953  75.397527  7.766260   63.880799  cotton     1
198  107  58  15    23.738680  75.775038  7.556064   76.636692  cotton     1
199  120  60  15    22.318719  83.861300  7.288377   65.357470  cotton     1

[200 rows x 9 columns]

In [68]:
df2.to_csv('Crop_recommendation.csv')

In [91]:
# df1=df1.dropna()
# df1.to_csv('/home/kali/Desktop/crop_sucess/data.csv')
df1

,Unnamed: 0,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,59310,F00000001,188.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,59311,F00000003,209.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
2,59312,F00000004,257.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
3,59313,F00000005,257.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0
4,59314,F00000006,342.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
79853,147801,F00155263,3895.0,0.0,1.0,2.0,20.0,18.0,31.0,3.0,1.0
79854,147803,F00155265,3896.0,0.0,1.0,2.0,60.0,48.0,10.0,1.0,2.0
79855,147804,F00155266,4096.0,0.0,1.0,2.0,10.0,16.0,45.0,1.0,0.0
79856,147805,F00155267,4096.0,0.0,1.0,2.0,20.0,31.0,25.0,2.0,0.0
79857,147806,F00155268,4096.0,0.0,1.0,2.0,60.0,30.0,34.0,2.0,1.0

In [92]:
df1=pd.concat([df1.iloc[0:100],df1.iloc[22666:22766]])

In [93]:
df1

,Unnamed: 0,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,59310,F00000001,188.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,59311,F00000003,209.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
2,59312,F00000004,257.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
3,59313,F00000005,257.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0
4,59314,F00000006,342.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
22761,59430,F00000232,789.0,0.0,0.0,3.0,25.0,34.0,0.0,1.0,1.0
22762,59431,F00000234,790.0,0.0,0.0,3.0,20.0,33.0,0.0,2.0,1.0
22763,59432,F00000235,789.0,0.0,0.0,3.0,60.0,40.0,0.0,1.0,1.0
22764,59433,F00000240,789.0,0.0,1.0,3.0,25.0,27.0,0.0,2.0,0.0
22765,59434,F00000241,790.0,0.0,1.0,3.0,40.0,28.0,0.0,1.0,0.0

In [94]:
df = df1.set_index('Crop_Type').join(df2.set_index('crop'), lsuffix='_df1', rsuffix='_df2')

In [95]:
df

,Unnamed: 0_df1,ID,Estimated_Insects_Count,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage,Unnamed: 0_df2,N,P,K,temperature,humidity,ph,rainfall,label
0.0,59318,F00000012,731.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
0.0,59318,F00000012,731.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
0.0,59318,F00000012,731.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
0.0,59318,F00000012,731.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
0.0,59318,F00000012,731.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.0,59788,F00000877,677.0,1.0,3.0,30.0,25.0,0.0,3.0,0.0,195,113,38,20,22.107190,78.583201,6.364730,74.941366,cotton
1.0,59788,F00000877,677.0,1.0,3.0,30.0,25.0,0.0,3.0,0.0,196,102,53,21,23.038140,76.110215,6.913679,91.496975,cotton
1.0,59788,F00000877,677.0,1.0,3.0,30.0,25.0,0.0,3.0,0.0,197,110,39,18,24.547953,75.397527,7.766260,63.880799,cotton
1.0,59788,F00000877,677.0,1.0,3.0,30.0,25.0,0.0,3.0,0.0,198,107,58,15,23.738680,75.775038,7.556064,76.636692,cotton
1.0,59788,F00000877,677.0,1.0,3.0,30.0,25.0,0.0,3.0,0.0,199,120,60,15,22.318719,83.861300,7.288377,65.357470,cotton

In [50]:
df.to_csv("main.csv")